.btn {
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    height: 35px;
    padding: 0 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--highlight-color);
    font-weight: bold;
}

.btn--small {
    font-size: 14px;
    height: 30px;
    padding: 0 15px;
}

.btn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.btn:active {
    outline: 0;
}

.btn:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .btn {
        height: 48px;
    }
}