.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

    border-radius: 15px;
    margin-top: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.show {display:block;}