input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}


input[type="checkbox"] {
    margin: 0;
}