<div class="row">
    <h1>Compare files</h1>
    <p class="warning" id="warningMessage"></p>
    <div class="flex-end">
        <div class="w-25"></div>
        <div class="w-50"></div>
        <div class="w-25"></div>
        <div class="w-100 flex-end" id="masterFilePathContainer"></div>
    </div>
    <div class="mb-2" id="diffsResultsContainer">

    </div>
</div>