<div class="row">
    <div class="">
        <h1>Create/Update i18n Translation</h1>

        <form id="updateForm" class="w-50">
            <label for="key">Key:</label>
            <input class="mt-1" type="text" name="key" id="key" required onfocusin="formFocusIn('key')"
                   onfocusout="formFocusOut('key')">
            <div class="formError mt-1" id="keyFormError"></div>
            <br>
            <label for="value">Value:</label>
            <input class="mt-1" type="text" name="value" id="value" required onfocusin="formFocusIn('value')"
                   onfocusout="formFocusOut('value')">
            <div class="formError mt-1" id="valueFormError"></div>
            <br>
            <div class="flex-end">
                <button class="btn" type="button" id="submitButton" onclick="saveTranslationKeyValue()">Save</button>
            </div>
        </form>
        <br>
        <div id="existingTranslation" style="display:none;">
            <p class="warning" id="warningMessage"></p>
            <div class="flex-between w-50">
                <button type="button" id="resetButton" class="btn" onclick="resetContent(false)">
                    Cancel
                </button>
                <button type="button" id="confirmButton" class="btn" onclick="overwriteTranslationValue()">
                    Confirm Overwrite
                </button>
            </div>
        </div>
        <div>
            <br>
            <div class="existingData mt-1"></div>
            <div class="notInEachFile mt-3"></div>
        </div>
    </div>
</div>