<!DOCTYPE html>
<html lang="en">
<head>
    <title>Translation File Management</title>
    <link rel="stylesheet" href="/frontend/assets/styles/style.css">
</head>

<body onload="init()">

<div class="page-wrapper">
    <nav class="flex-center pb-1">
        <button
                onclick="loadContent('create-update-translation')"
                id="createUpdateKey"
                class="mt-1 btn">
            Create/Update Translation
        </button>
        <button
                onclick="loadContent('search-translation')"
                id="searchValue"
                class="mt-1 btn">
            Search Value
        </button>
        <button
                onclick="loadContent('search-key')"
                id="searchValue"
                class="mt-1 btn">
            Search Key
        </button>
        <button
                onclick="loadContent('compare-files')"
                id="compareFiles"
                class="mt-1 btn">
            Compare Files
        </button>
        <div class="dropdown">
            <button onclick="dropdown()" id="dropdownButton" class="mt-1 btn">Settings</button>
            <div id="dropdownMenu" class="dropdown-content">
                <button
                        onclick="loadContent('settings/global-settings')"
                        id="global"
                        class="mt-1 btn">
                    Global settings
                </button>

                <button
                        onclick="loadContent('settings/i18n-folder-paths')"
                        id="i18nFolderPaths"
                        class="mt-1 btn">
                    Manage i18n folder paths
                </button>

            </div>
        </div>


    </nav>
    <div class="container mx-auto mt-5" id="globalWarningContainer">

    </div>
    <div class="container mx-auto mt-5" id="contentContainer">

    </div>
</div>
<footer class="flex-between">
    <div class="flex-end h-100 align-center mr-3" id="actionContainer"></div>
    <div class="flex-end h-100 align-center mr-3" id="resultsDisplay"></div>
</footer>

<div id="action-dialog" class="dialog-container">
    <div class="px-1 pb-1 dialog">
        <h3 id="action-dialog-title" class="text-center"></h3>
        <hr>
        <div id="action-dialog-content"></div>
        <hr>
        <div class="flex-end pt-1">
            <button class="btn" onclick="cancelAction()">Cancel</button>
            <button class="btn ml-1" id="confirm-action">Confirm</button>
        </div>
    </div>
</div>
<div id="result-dialog" class="dialog-container">
    <div class="px-1 pb-1 dialog w-100">
        <h3 id="result-dialog-title" class="text-center"></h3>
        <hr>
        <div id="result-dialog-content"></div>
        <hr>
        <div class="flex-end pt-1 sticky-bottom">
            <button class="btn" onclick="closeResultDialog()">Close</button>
        </div>
    </div>
</div>

<!-- main -->
<script src="/frontend/assets/scripts/index.js"></script>

<!-- views -->
<script src="/frontend/assets/scripts/create-update-translation.js"></script>
<script src="/frontend/assets/scripts/search-translation.js"></script>
<script src="/frontend/assets/scripts/search-key.js"></script>
<script src="/frontend/assets/scripts/compare-files.js"></script>

<!-- settings -->
<script src="/frontend/assets/scripts/settings/global-settings.js"></script>
<script src="/frontend/assets/scripts/settings/i18n-folder-paths.js"></script>

<!-- custom html scripts -->
<script src="/frontend/assets/scripts/html/dropdown.js"></script>

</body>
</html>
