<div class="row">
    <h1>Search for i18n label values</h1>
    <p class="warning" id="warningMessage"></p>

    <div>
        <div class="w-50">
            <label for="searchInput">Search text: </label>
            <input class="mt-1" type="text" id="searchInput" name="searchInput">
        </div>
        <br>
        <div class="flex-end w-50">
            <button class="btn" onclick="search()">search</button>
        </div>
    </div>

    <div id="searchResultsContainer" class="block">

    </div>
</div>