<div class="row">
    <h1>Search for i18n keys</h1>
    <p class="warning" id="warningMessage"></p>

    <div>
        <div class="w-50">
            <label for="searchKeyInput">Search text: </label>
            <input class="mt-1" type="text" id="searchKeyInput" name="searchKeyInput">
        </div>
        <br>
        <div class="flex-end w-50">
            <button class="btn" onclick="searchKey()">search</button>
        </div>
    </div>

    <div id="searchKeyResultsContainer" class="block">

    </div>
</div>