<div class="row">
    <h1>Global Settings</h1>
    <p class="warning" id="warningMessage"></p>
    <div class="mb-2">
        <div class="base-border search-result">
            <div class="flex-row p-1">
                <label class="col-6" for="uppercaseInputContainer">Uppercase suffix in translation labels:</label>
                <input
                        class="col-1"
                        type="checkbox"
                        name="upperCase"
                        id="uppercaseInputContainer"/>
            </div>
        </div>
        <div class="base-border search-result">
            <div class="flex-row p-1">
                <label class="col-6" for="suffixInMasterLanguageContainer">Suffix in master language translation labels:</label>
                <input
                        class="col-1"
                        type="checkbox"
                        name="suffixInMasterLanguage"
                        id="suffixInMasterLanguageContainer"/>
            </div>
        </div>
        <div class="base-border search-result">
            <div class="flex-row p-1">
                <label class="col-4" for="folderSelectContainer">Master folder:</label>
                <select
                        id="folderSelectContainer"
                        class="col-7"
                        onchange="updateFilesSelectContainer()">
                </select>
            </div>
        </div>
        <div class="base-border search-result">
            <div class="flex-row p-1">
                <label class="col-4" for="fileSelectContainer">Master file:</label>
                <select
                        id="fileSelectContainer"
                        class="col-7">
                </select>
            </div>
        </div>
    </div>
    <div>
        <button class="btn" onclick="updateGlobalSettings()">Update Settings</button>
    </div>
</div>