<div class="row">
    <h1>Manage i18n Folder Paths</h1>
    <p class="warning" id="warningMessage"></p>
    <div>
        <div class="mt-1">
            <h4>Current i18n folder path(s):</h4>
            <div id="currentPathsContainer" class="block"></div>
        </div>
        <div class="mt-1">
            <h4>Relative to:</h4>
            <div id="relativeToPathsContainer" class="block"></div>
        </div>
        <div class="w-50">
            <label for="folderPath">Replace Folder Path(s):</label>

            <div id="newPathInputContainer">

            </div>

            <div class="mt-2 flex-between">
                <button class="btn ml-1" onclick="addPathInput()">Add Input</button>
                <button class="btn" onclick="removePathInput()">Remove Input</button>
            </div>

            <div class="mt-2 flex-end">
                <button class="btn" onclick="updateFilepaths()">Update Paths</button>
            </div>
        </div>
    </div>
</div>