/* APP VARS */
@import "settings/_variables.css";

/* UTILITIES */
@import "utils/global.css";
@import "utils/flex-utils.css";
@import "utils/sizes.css";
@import "utils/spacings.css";

/* HTML ELEMENTS */
@import "html/button.css";
@import "html/dropdown.css";
@import "html/input.css";

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--white);
}

pre {
    white-space: pre-wrap;
}

.page-wrapper {
    min-height: calc(100vh - 40px);
}

.container {
    width: 88%;
    margin-bottom: 40px;
}

.row {

}

.align-left {
    text-align: left;
}

.block {
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    color: var(--highlight-color);
}

.base-border {
    border: 1px solid var(--main-color);
}

/**********/
/* INDEX.EJS
/**********/
nav {
    background-color: var(--main-color);
    position: sticky;
    top: 0;
}

footer {
    background-color: var(--main-color);
    position: sticky;
    bottom: 0;
    height: 40px;
}

.warning {
    color: #dc3545;
}

.dialog-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
.dialog {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    border: 1px solid darkgray;
    border-radius: 15px;
    background-color: #f5f5f5;
}

.dialog-container.show {
    display: flex;
}

/**********/
/* EJS FILES
/**********/

/* Create / Update Key */
form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
}

.formError {
    color: red;
    font-size: small;
    margin-left: 15px;
}


/* Search Translation */
.search-result {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -1px; /* trick to hide double border */
}

.search-results-count {
    color: var(--white);
    font-weight: bold;
}


/* Compare Files */
.translation-key-label {
    margin-left: -20px;
    margin-right: 20px;
}
.comparison-value {
    min-width: 47%;
    max-width: 47%;
    min-height: 100%;
    padding: 5px;
}
.master-value {
    background-color: mediumseagreen;
}
.missing-value {
    background-color: indianred;
}


/* UTILITIES - to move */

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
}

.text {
    color: black;
}